body {
    font-family: 'open sans', sans-serif;
    color: #828282;
}

div {
    text-align: center;
}

#main {
    margin: 0 auto 64px;
    width: 626px;
}

#main img{
    margin-bottom: 32px;
}


h1  {
    font-family: 'Dosis', sans-serif;
    color:#3F3D56;
}

span {
    color:#EE24FF;
    font-weight: bold;
}

strong {
    color: #3F3D56;
}

a {
    color: #3F3D56;
    font-weight: bold;
}
