body {
    font-family: 'open sans', sans-serif;
    color: #828282;
    text-align: center;
}

p {
    text-align: center;
}

#main {
    margin: 74px auto;
    width: 626px;
}

#main img{
    margin-bottom: 32px;
}


h1  {
    font-family: 'Dosis', sans-serif;
    color:#3F3D56;
}

span {
    color:#EE24FF;
    font-weight: bold;
}

strong {
    color: #3F3D56;
}


#footer a {
    color: #3F3D56;
    font-weight: bold;
    text-decoration: none;
}

#line {
    width: 391px;
    border: 1px solid #ECEFF2;
    margin: 64px auto 16px
}

#footer a + a {
    margin-left: 42px;
}


#wave {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
}
